* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: unset;
    text-decoration: none;
}
.fa-brands {
    font-size: 26px;
    padding-right: 6px;
}
.btn-grad {
    background-image: linear-gradient(
        to right,
        #f2994a 0%,
        #f2c94c 51%,
        #f2994a 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.main_video {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1145px;
    overflow: hidden;
    padding-top: 40%;
}
.main_video iframe {
    bottom: 0;
    left: 50%;
    right: 0;
    top: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 1600px) {
    .main_video {
        padding-top: 45%;
    }
}
